.study{
	&__wrapper{
		padding: 40px 0px;
	}
	&__box{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	&-title{
		max-width: 381px;
		margin:0 auto 20px;
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		color: #353535;
	}
	&-subtitle{
		font-size: 14px;
		line-height: 16px;
		color: $darkred;
		margin-bottom: 20px;
		& span{
			font-weight: bold;
		}
	}
	&-content{
		max-width: 467px;
	}
	&-info{
		padding: 40px 36px 36px 36px;
		border-radius: 20px;
		border: solid 2px $darkred;
		font-style: italic;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		color: $gray;
		& span{
			font-size: 12px;
			line-height: 14px;
			font-style: normal;
		}
	}
	/*  */
	&-info{
		&__wrapper{
			padding:40px 0px 25px;
			background: $light2gray;
		}
		&-title{
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			color: $black;
			margin-bottom: 30px;
		}
	}
	&-card{
		border-radius: 20px;
		overflow: hidden;
		background: #fff;
		margin: 0px 15px;
		&s{
			display: flex;
			flex-wrap: wrap;
			margin:0 -15px;
			& .study-card{
				margin-bottom: 15px;
			}
		}
		&-info{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 15px 0 20px 0;
			& p{
				font-weight: bold;
				font-size: 14px;
				line-height: 16px;
				color: $black;
				margin-bottom: 15px;
			}
			& a{
				width: 100%;
				height: 32px;
				max-width: 100px;
				display: flex;
				align-items: center;
				justify-content: center;
				text-decoration: none;
				font-weight: bold;
				font-size: 10px;
				line-height: 12px;
				color: #fff;
				background: $darkred;
				border-radius: 60px;
			}
		}
	}
	&-carousel--three{
		display: none !important;
	}
	&-carousel, &-carousel--second, &-carousel--three{
		margin-bottom: 30px;
	}
	&-carousel .owl-stage, &-carousel--second .owl-stage{
		margin:0 -15px;
	}
	/*  */
	&-items{
		& .contact-item{
			width: 100%;
			max-width: 231px;
			& .contact-info{
				min-height: 135px;
			}
			& .contact-info a{
				color: $gray;
			}
			&:first-child .contact-info a, &:last-child .contact-info a{
				color: $darkred;
			}
		}
	}
	&-contact__wrapper{
		padding:40px 0px;
		& .about-aside-item{
			width: 100%;
		}
	}
}