footer.footer
  .container
    .footer__box
      img(src='img/logo.png' alt='')
      .footer-content
        .footer-content__box
          p.footer-content__box-title Главный офис
          p.footer-content__box-info Киев, м. Крещатик ул. Крещатик, 15 (Пассаж), оф. № 138, парадное 13
        .footer-content__box
          p.footer-content__box-title Социальные сети
          a(href='')
            img(src='img/icons/instagram.svg' alt='')
          a(href='')
            img(src='img/icons/facebook.svg' alt='')
          a(href='')
            img(src='img/icons/youtube.svg' alt='')