header.header
  .container
    .header__box
      img.header-logo(src='img/logo.jpg' alt='')
      .header-contact
        .header-contact__box
          p.header-contact__box-title
            img(src='img/icons/phone.svg' alt='') 
            | Языковая школа
          a(href='') +38 (067) 839-65-65
          a(href='') +38 (093) 919-65-65
          a(href='') +38 (095) 329-65-65
        .header-contact__box
          p.header-contact__box-title
            img(src='img/icons/since.svg' alt='') 
            | Поступление в вузы
          a(href='') +38 (067) 839-65-65
          a(href='') +38 (093) 919-65-65
          a(href='') +38 (095) 329-65-65
      .header-nav
        a(href="javascript:void(0);" id="navBtn")
          img(src='img/icons/navbar.svg' alt='')
      nav#nav
        ul
          li
            a(href='') Главная
          li
            a(href='') О компании
          li.nav-current
            a(href='javascript:void(0)')
              | Учеба в Польше 
              img(src='img/icons/arrow.svg' alt='')
            ul.nav-dropdown
              li
                a(href='') Как поступить в ВУЗы Польши
              li
                a(href='') Как перевестись в польские ВУЗы
              li
                a(href='') Как поступить в теникум Польши
              li
                a(href='') Студнческая виза в Польшу
          li
            a(href='') ВУЗы/Техникумы
          li
            a(href='') Стоимость
          li
            a(href='') Языковая школа
          li
            a(href='') ВУЗы Чехии
          li
            a(href='') Контакты