.about-aside-item
	p.about-aside-item-title Контакты
	.about-aside-contact
		p ПОСТУПЛЕНИЕ В ВУЗЫ:
		a +38 (096) 096-16-00
		a +38 (063) 578-16-00
		a +38 (097) 330-86-96
		a e-mail: study@eurostudy.info
	.about-aside-contact
		p ПОСТУПЛЕНИЕ В ТЕХНИКУМЫ:
		a +38 (067) 009-16-00
		a +38 (044) 228-16-00
		a e-mail: colleges@eurostudy.info
	.about-aside-contact
		p ЯЗЫКОВАЯ ШКОЛА:
		a +38 (067) 839-65-65
		a +38 (093) 919-65-65
		a +38 (095) 329-65-65
		a e-mail: kursy@eurostudy.info