form.about-aside-item
	p.about-aside-item-title Запишись на польский!
	input(type="text" placeholder="Введите Ваше имя")
	input(type="text" placeholder="Введите номер телефона")
	p.about-aside-item-info Курсы польского языка #[span ONLINE] #[br]Уровень А1 (с нуля) по цене = #[span 2800 грн!]
	label
		input(type="radio" name="date")
		| 14.10.2020 - Пн, Ср, Пт - 18.30-20.30
	label
		input(type="radio" name="date")
		| 15.10.2020 - Вт, Чт - 18.30-20.30
	label
		input(type="radio" name="date")
		| 23.10.2020 - Пн, Ср, Пт - 16.15-18.15
	input(type="submit" value="Записаться на курсы")