extends /addons/base.pug
block content
	+titlePage('О компании')
	.about__wrapper
		.container
			.about-content
				h2.about-title О компании “Евростади” в фактах и цифрах:
				p.about-subtitle Нашей компании 9 лет!
				p.about-info Начали мы свою деятельность в 2011 году с аренды небольшого офиса на 1 комнату. Работа не покладая рук, позволила нам уже через 3 месяца взять в субаренду еще одну комнату в офисе, а спустя полгода переехать в свой отдельный офис. #[br]#[br]Образование в Польше было новинкой и практически никто не знал, как все происходит, какие гарантии поступления, с какими ВУЗами стоит сотрудничать, как все организовать, но благодаря нашей команде, стараниям и приобретенному опыту у нас всё получилось!
				h3.about-title Теперь мы можем с гордостью сказать, что смогли многого добиться за эти 9 лет:
				ul
					li Евростади – единственная компания в Украине, которая помогает абитуриентам Украины поступить в государственные ВУЗы Польши!
					li На сегодня при помощи Евростади можно поступить в более #[span 80 ВУЗов] и #[span 10 Техникумов Польши]
					li Мы помогаем умным и талантливым детям поступать на #[span бесплатное обучение] на конкурсной основе в государственные ВУЗы Польши.
					li К нам обращаются студенты, желающие поступить на бесплатное обучение с Картой поляка и мы с удовольствем им в этом помогаем.
					li Мы помогли реализовать мечты более 2500 абитуриентов, которые за время деятельности нашей компании поступили и получили высшее и среднее те хническое образование в ВУЗах и Техникумах Польши!
					li Наши #[span курсы польского языка] помогли более 4000 обучающимся (в Украине и Польше) не только получить образование в Польше, но и найти работу и вы ехать в Польшу на ВНЖ и ПМЖ.
					li Благодаря высокому уровню преподавания и подобранному материалу для обучения, 99% обучающихся на наших курсах, по подготовке к собеседованию с ко нсулом Польской Республики в Украине, получили #[span Карту Поляка.]
					li Более 3000 ВИЗ в Польшу было оформлено для студентов, а также их родителей, которые сопровождали детей на обучение.
					li Два раза в год мы организуем #[span Образовательный тур по ВУЗам Польши] для абитуриентов и их родителей. Данная поездка помогает поближе познакомиться со  страной, городом и ВУЗом, в котором будет обучаться будущий студент.
					li Каждые летние и зимние каникулы мы организуем отдых в лагере #[span “ADVENTURE CAMP”] для учеников старших классов и студентов (14-18лет). Где дети мо гут активно отдохнуть, познакомиться с культурой, традицией Польши и выучить польский язык с носителями языка.
					li Евростади – это сплоченная команда профессиональных менеджеров-консультантов, преподавателей и руководителей компании!