extends /addons/base.pug
block content
	+titlePage('Условия поступления в ВУЗы Польши')
	section.admission-howto__wrapper
		.container
			.admission-howto__box
				.admission-howto-content
					h2 Как поступить в ВУЗ Польши?
					ul
						li 1. Выучи польский язык на уровне В1-В2 (наличие Сертификата)
						li 2. Подай заявку на поступление в выбранный ВУЗ
						li 3. Подготовь необходимые документы для поступления
						li 4. Сделай присяжный перевод необходимых документов на польский язык
					a(href="") Начни поступление
				include ../addons/aside-signup.pug
	section.admission-terms__wrapper
		.container
			p Условия поступления в ВУЗ Польши
			.admission-terms__box
				.admission-terms-content
					ul
						li #[span При обучении на польском языке] - Наличие Сертификата о знании польского языка #[br] на уровне В1 (для частных ВУЗов), #[br]на уровне В2 (для государственных ВУЗов), #[br]на уровне С1 (для бесплатного обучения в государственных ВУЗах).
						li #[span При обучении на английскоим языке] - Наличие Сертификата о знании английского языка #[br]на уровне В2 - Сертификат: TOEFL i BT- 55+, IELTS- 6.0, LCCI – II, TOEIC- 730-855 и др. #[br]оценка в аттестате по английскому языку должна быть не ниже 9 баллов (для Украины).
						li #[span НЕ] нужно сдавать вступительные экзамены*
						li #[span НЕ]  учитывается средний балл аттестата
						li #[span НЕ]  учитывается балл ЗНО (для украинцев) при поступлении в частные ВУЗы Польши (информацию по гос.ВУЗам уточняйте у менеджеров)
						li #[span НЕТ] возрастных ограничений
					a(href="") Стать студентом ВУЗа Польши
				img(src="img/admission1.jpg")
			.admission-terms__box
				img(src="img/admission2.jpg")
				.admission-terms-info
					p Вступительные экзамены сдаются:
					ul
						li при поступлении в мед.университеты (экзамены по биологии, химии или физике)
						li при поступлении на творческие специальности - дизайн, графика, архитектура
					p Обратись к специалиству в своем городе, если нужна помощь. Будем рады сотрудничеству
	section.contact__wrapper.admission-contact
		.container
			.contact-items
				.contact-item
					p.contact-region Восточный регион
					.contact-info
						a(href='') +38 (095) 658 11 00
						a(href='') +38 (097) 658 11 00
				.contact-item
					p.contact-region Западный регион
					.contact-info
						a(href='') +38 (097) 461 10 00
						a(href='') +38 (093) 034 10 00
						a(href='') +38 (067) 473 59 59
						a(href='') +38 (067) 473 59 43
						a(href='') +38 (093) 771 26 65
						a(href='') +38 (067) 220 30 02
				.contact-item
					p.contact-region Центральный регион
					.contact-info
						a(href='') +38 (097) 330 86 86
						a(href='') +38 (096) 096 16 00
						a(href='') +38 (063) 578 16 00
						a(href='') +38 (050) 416 16 00
						a(href='') +38 (044) 228 16 00
				.contact-item
					p.contact-region Юго-восточный регион
					.contact-info
						a(href='') +38 (095) 658 11 00
						a(href='') +38 (097) 658 11 00
	section.admission-doc__wrapper
		.container
			p.admission-doc-title Необходимые документы для поступления в ВУЗы Польши:
			p.admission-doc-subtitle Основной список документов, необходимых при поступлении в польские ВУЗы:
			.admission-doc__box
				.admission-doc-content
					ul
						li 1. Аттестат о полном среднем образовании + Дополнение
						li 2. Диплом бакалаврата + Дополнение (при по ступлении на Магистратуру)
						li 3. Медицинская справка форма № 086/о 
						li 4. 4 цветные фотографии 3.5×4.5см (левый полупрофиль)#[span *]
						li 5. Ксерокопия основных страниц с отметками вн утр.паспорта
						li 6. Ксерокопия первой страницы загран.паспорта
						li 7. Свидетельство о рождении (для несовершеннолетних абитуриентов
						li 8. Нотариально заверенное разрешение от ро дителей на обучение в Польше (для несовершеннолетних абитуриентов)
						li 9. Сертификат о знании польского или английского языка (в зависимости от выбранного языка обучения).
					p При поступлении в Краковскую Академию им.А.Моджевского, необходимо пройти тестирование в нашей компании для получения Сертификата, подтверждающего знание польского языка. Наличие Сертификата является обязательным условием при поступлении в данное учебное заведение!
					p При поступлении в Гданьскую Политехнику необходимо предоставить Сертификат о знании польского языка на уровне В2 от компании Евростади.
					a(href="") Забронировать место в ВУЗе Польши
				.admission-doc-photo
					img(src="img/admission3.jpg")
					img(src="img/admission4.jpg")
			.admission-doc-quotes К документам из пунктов 1,2,3 и 8 необходимо сделать #[span присяжный перевод и поставить апостиль.] #[br]#[br]* Требования к фотографиям могут отличаться в зависимости от выбранного ВУЗа в Польше, обращайтесь к менеджерам для уточнения данной информации.
	section.admission-request__wrapper
		.container
			p.admission-request-title Периоды приема заявок в ВУЗы Польши:
			.admission-request__box
				img(src="img/admission5.jpg")
				ul
					li
						span Летний набор
						| - прием заявок #[span с 1 октября до 31 июля]#[i (При наличии свободных мест в частных ВУЗах Польши, период можт быть продлен до 20 сентября)] Начало учебного года #[span 1 октября]
					li
						span Зимний набор
						| - прием заявок #[span с 1 сентября до 31 января]
						b (Обучение на степерь Магистратура и в некотрых ВУЗах Польши и на Бакавлариат)
			a(href="") Выбрать университет
	section.admission-price__wrapper
		.container
			p.admission-price-title Стоимость обучения в Польше для украинцев:
			.admission-price__box
				.admission-price-content
					ul
						li 
							b На польском языке#[br]
							| - в частных ВУЗах #[span от 800 € в год]#[br]
							| - в государственных ВУЗах #[span от 1500 € в год]
						li
							b На английском языке#[br]
							| - в частных ВУЗах  #[span от 2000 € в год]#[br]
							| - в государственных ВУЗах #[span от 3000 € в год]
						li #[span Бесплатное]  обучение в гос.ВУЗах для студентов с Картой Поляка.
						li #[span Бесплатное]  обучение в гос.ВУЗах при наличии Сертификата о знании польского языка на уровне С1 гос.образца.
						li #[span Бесплатное] обучение для старшеклассников после 9-10 класса в #[span Техникумах Польши]
						li #[span Бесплатное] обучение на #[span конкурсной основе] (для аб итуриентов с высоким баллом аттестата и ЗНО, при поступлении в гос.ВУЗы
						li #[span Скидка 30%] - Некоторые ВУЗы Польши предоставляют Скидку на стоимость обучения для студентов с польскими корнями, при наличии до кумента, подтверждающего польское происхождение (Карта поляка).
						li Поступление в ВУЗ при помощи Евростади Стоимость услуг от 550 € (пакет “Базовый”)
				img(src="img/admission6.jpg")
	section.admission-euro__wrapper
		.container
			p.admission-euro-title Как происходит подача документов в ВУЗы Польши при сотрудничестве с Евростади?
			.admission-euro__box
				.admission-euro-content
					p Абитуриент, по предварительной, записи прибывает в офис компании «EUROSTUDY»  (несовершеннолетние с родителем), менеджеры по образованию в Польше проводят бесплатную детальную консультацию по выбору университета в Польше и специальности, отвечают на все вопросы абитуриента и его родителей, после чего 
						b Подписывается Договор о сотрудничестве с нашей компанией ООО "Евростади" на предоставлении услуг.
					ul
						p Вы:
						li Собираете и предоставляете нам необходимые документы для поступления в выбранный ВУЗ;
						li Вносите первую часть стоимости услуг для участия в Программе поступления;
				img(src="img/admission7.jpg")
			.admission-euro__box
				img(src="img/admission8.jpg")
				ul
					p Мы:
					li Подготавливаем документы для поступления, делаем присяжный перевод на польский язык;
					li Делаем нострификацию, апостиль необходимых документов (согласно пакету услуг);
					li Начинаем процесс регистрации абитуриента в высшее учебное заведение в Польше;
					li Подбираем и бронируем комнату в общежитии на период обучения (согласно пакету услуг);
					li Спустя 30 дней, с момента подачи документов в ВУЗ, получаем и выдаем абитуриенту официальный документ о зачислении в ВУЗ Польши;
					li Помогаем собрать необходимый пакет документов для оформления студенческой визы в визовом центре;
					li При заключении Договора о полном пакете услуг, предоставляем выезд в Польшу;
					li По прибытию в Польшу, помогаем с оформлением Карты временного проживания;
					li Обеспечиваем и помогаем активировать стартовые пакеты польской мобильной связи (согласно пакету услуг);
					li Предоставляем годовую опеку над студентом представителем нашей компании (при полном пакете услуг).
				img(class="admission-euro--hideimg" src="img/admission7.jpg")
	section.admission-education__wrapper
		.container
			p.admission-education-title Приезд на обучение в Польшу:
			.admission-education__box
				ul
					li Выезд в Польшу (Краков, Варшава, Познань, Люблин и др. города) запланирован перед началом учебного года 1 октября, как правило за 5-7 дней до начала учебы, чтобы дети успели адаптироваться;
					li Предоставлением автобуса и организационными вопросами, связанными с выездом занимается наша компания;
					li Поездка осуществляется в сопровождении 1-3 представителей компании Евростадии, по желанию, родителей студента;
					li По прибытию в город Польши, организуется трансфер до общежитий в сопровождении представителя компании Евростадии;
					li После заселения в общежитие, проводится ознакомительная программа, которая включает визит в супермаркет, пункт обмена валют, экскурсию по городу;
					li На следующий день, после приезда, проводится ознакомление с учебными заведениями, где оформляются все формальности, связанные с получением студенческих документов: студенческого билета, проездного, расписания занятий.
				img(src="img/admission9.jpg")
			.admission-education__box
				img(src="img/admission10.jpg")
				p И напоследок...
				p Не смотря на то, что с каждым годом учеба в Польше становится все более доступной, условия поступления более прозрачны и понятны, все же стоит быть очень внимательными при подаче документов. т.к ВУЗы ежегодно меняют требования к документам и некоторые моменты условий поступления.
				p Если Вам кто-то, кто уже учится в Польше, предлагает свою помощь при поступлении, все же перепроверьте информацию, т.к на момент Вашего поступления, она уже может быть не актуальной.
				p Обращайтесь к профессиональным специалистам в данной области, чтобы избежать ошибок, которые порой не всегда можно исправить.
				p Учеба в Польше - является главным направлением нашей компании!
				p Вот уже более 8 лет мы успешно помогаем украинцам поступить в любой ВУЗ в Польше. 
				p Мы сотрудничаем со всеми престижными и рейтинговыми учебными заведениями Польши и имеем Сертификаты, подтверждающие данное сотрудничество. 
				p Нам доверили своих детей тысячи родителей!
				p Мы помоги реализовать себя тысячам студентам!
				p Предлагаем и Вам наше сотрудничество, гарантируем, Вы точно не пожалеете )
				a(href="") Отправить заявку