extends /addons/base.pug
block content
	section.aboutus__wrapper
		.container
			.aboutus__box
				img(src='img/homepage-city.jpg' alt='')
				.aboutus__content
					h1.aboutus__content-title Учеба в Польше от компании "Евростади"
					p.aboutus__content-info
						span ООО “Евросади“ - Польско-украинская Компания (EUROSTUDY)
						|  предоставляет образовательные услуги и большой выбор программ обучения в Польше. 
						br
						|  Мы поможем вам выучить польский язык, подготовиться и поступить в учебные заведения Польши. 
						br
						| Предлагаем Вам обучение в 
						b 80 вузах
						|  Польши (госдарственных и частных) + более 500 специальностей, а так же 
						b поступление в Техникумы Польши после 9-10 класса на бесплатное обучение
	section.clients__wrapper
		.container
			.clients__box
				h2.clients__box-title Уважаемые клиенты!
				p
					| На данный момент только два представительства компании 
					b EUROSTUDY
					|  в Украине работают в обычном режиме (офлайн) по предварительной записи на консультацию или подачу документов - Главный офис компании в Киеве по адресу: 
					b ул.Крещатик,15 (Пассаж) офис №138
					|  и филиал во Львове по адресу: 
					b ул. Генерала Чупринки, 80, офис №2
					| .
				p
					| Остальные представительства компании Eurostudy в Украине работают в режиме 
					b Online
					|   – все консультации проводятся только по телефонам, указанным ниже. Мы с радостью проконсультируем Вас по вопросам поступления в ВУЗы и техникумы Польши, а также запишем в нашу языковую школу на курсы польского, чешского либо китайского языка.
				p
					b Внимание!
					|  Курсы польского, чешского и китайского языков от компании Eurostudy проходят в 
					b Online режиме
					|  до полного завершения карантина. Мы заботимся о Вашей безопасности и здоровье.
	section.contact__wrapper
		.container
			.contact-items
				.contact-item
					p.contact-region Восточный регион
					.contact-info
						a(href='') +38 (095) 658 11 00
						a(href='') +38 (097) 658 11 00
				.contact-item
					p.contact-region Западный регион
					.contact-info
						a(href='') +38 (097) 461 10 00
						a(href='') +38 (093) 034 10 00
						a(href='') +38 (067) 473 59 59
						a(href='') +38 (067) 473 59 43
						a(href='') +38 (093) 771 26 65
						a(href='') +38 (067) 220 30 02
				.contact-item
					p.contact-region Центральный регион
					.contact-info
						a(href='') +38 (097) 330 86 86
						a(href='') +38 (096) 096 16 00
						a(href='') +38 (063) 578 16 00
						a(href='') +38 (050) 416 16 00
						a(href='') +38 (044) 228 16 00
				.contact-item
					p.contact-region Юго-восточный регион
					.contact-info
						a(href='') +38 (095) 658 11 00
						a(href='') +38 (097) 658 11 00
	section.features__wrapper
		.container
			h2.features-title Преимущества компании EUROSTUDY
			.features-items
				.features-item
					img(src='img/icons/consult.svg' alt='')
					p
						| Предоставляем Бесплатную консультацию по выбору специальности и учебного заведения в Польше
				.features-item
					img(src='img/icons/calendar.svg' alt='')
					p Работаем 5 дней в неделю (Пн – Пт с 09:00 до 18:00) и 12 месяцев в году. 
				.features-item
					img(src='img/icons/study.svg' alt='')
					p Помогаем поступить в более чем 80 ВУЗов Польши на платное и бесплатное обучение;
				.features-item
					img(src='img/icons/student.svg' alt='')
					p Помогаем поступить в Техникумы Польши после 9-10 класса на Бесплатное обучение
				.features-item
					img(src='img/icons/suppurt.svg' alt='')
					p Предоставляем годовую поддержку для несовершеннолетних детей
				.features-item
					img(src='img/icons/history.svg' alt='')
					p Обучаем истории Польши, традициям и культуре польского народа.
				.features-item
					img(src='img/icons/interview.svg' alt='')
					p Подготавливаем к собеседованию с польским консулом на получение Карты Поляка
				.features-item
					img(src='img/icons/bus.svg' alt='')
					p
						| Организуем отдых в Польше во время летних и зимних каникул в молодежном лагере в Закопане
				.features-item
					img(src='img/icons/meeting.svg' alt='')
					p
						| Знакомим абитуриентов и их родителей с польскими городами и ВУЗами, бытом и образом жизни;
	section.subscribe__wrapper
		.container
			.subscribe__box
				iframe(width='560' height='315' src='https://www.youtube.com/embed/HSn4O2VjkHo' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
				a(href='') Записаться на консультацию
