extends /addons/base.pug
block content
	+titlePage('ВУЗы и техникумы в Польше')
	section.instituts__wrapper
		.container
			.instituts-box
				.instituts-content
					h2 ВУЗы в Польше
					.instituts-items
						.instituts-item
							a(href="")
								img(src="img/instituts/1.jpg")
								p ВУЗы Варшавы (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/2.jpg")
								p ВУЗы Вроцлава (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/3.jpg")
								p ВУЗы Гданьска (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/4.jpg")
								p ВУЗы Жешува (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/5.jpg")
								p ВУЗы Катовиц (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/6.jpg")
								p ВУЗы Кракова (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/7.jpg")
								p ВУЗы Лодзи (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/8.jpg")
								p ВУЗы Люблина (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/9.jpg")
								p ВУЗы Ополе (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/10.jpg")
								p ВУЗы Познани (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/11.jpg")
								p ВУЗы Радома (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/12.jpg")
								p ВУЗы Торуни (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/13.jpg")
								p ВУЗы Щецина (#[span 24])
				.about-aside
					include ../addons/aside-instituts-filter.pug
					include ../addons/aside-contact.pug
			.instituts-box
				.instituts-content
					h2 Техникумы в Польше
					.instituts-items
						.instituts-item
							a(href="")
								img(src="img/instituts/2-1.jpg")
								p Техникумы в Кракове (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/2-2.jpg")
								p Техникумы в Люблине (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/2-3.jpg")
								p Техникумы в Радоме (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/2-4.jpg")
								p Техникумы в Любортове (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/2-5.jpg")
								p Техникумы в Демблине (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/2-6.jpg")
								p Техникумы в Войнич (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/2-7.jpg")
								p Техникумы в Ропчице (#[span 24])
			.instituts-box
				.instituts-content
					h2 Полицеальные школы Польши. Учеба в Польше для взрослых 
					.instituts-items
						.instituts-item
							a(href="")
								img(src="img/instituts/2-5.jpg")
								p Медицинское училище (#[span 24])
						.instituts-item
							a(href="")
								img(src="img/instituts/2-6.jpg")
								p Полицеальная школа (#[span 24])
			p.instituts-info Обучение и получение высшего образования в университетах Польши откроет Вам новые возможности для реализации своих знаний как на Украине, как и странах Европы. Получив диплом европейского образца (не зависимо от университета и города Польши), Вы сможете продолжить обучение в любой стране Европы и за ее пределами. Многие университеты Польши предоставляют бесплатное обучение для украинских студентов, имеющих карту поляка. Обучение в университетах можно выбрать на польском или английском языке. Более детальную информацию об Университетах можно получить, пройдя по ссылкам ниже, нажимая на интересующий вас город.