extends /addons/base.pug
block content
	+titlePage('Полициальные школы')
	section.schools__wrapper
		.container
			.schools__box
				.schools-info
					h2 Полициальные школы
					p Полицеальная школа - это учебное заведение для взрослых от 18 лет и без возрастного ограничения, в котором можно обучиться новой профильной специальности, даже не имея предварительного образования и навыков в этой сфере. Полицеальная школа - примерный аналог наших «техникумов» или «колледжей», то есть нечто промежуточное между средним и высшим образованием.
					p Для зачисления в полицеальную школу необходимо законченное среднее образование, наличие аттестата зрелости и не требуется сдача выпускных экзаменов типа: Matura, ЗНО и ЕГЭ.
					p Ваша специальность на нышнем рынке труда уже не актуальна? 
					p Возможно вы просто желаете сменить сферу деятельности, а поступать в ВУЗ уже поздно?
					p В таком случае Полицеальная школа - это отличное решение для обучения, которое позволит вам получить сертификат, после окончания, и официально трудоустроится в Польше по полученной специальности.
				include ../addons/aside-contact.pug
			.schools-items
				.schools-item
					.schools-item__logo
						img(src="img/schools-item1.jpg")
					.schools-item__box
						p.schools-item-title Полицеальная школа Искусств и Дизайна Одежды
						p.schools-direction-title Направления:
						ul.schools-directions
							li Интерьер и пространственный дизан
							li Художественный дизайн одежды
							li Креативная фотография
							li Хореография
						p.schools-price от 520 zł в мес
						.schools-item-actions
							a(href="" class="schools-link") Заявка на поступление
							a(href="" class="schools-link--second") Подробнее
				.schools-item
					.schools-item__logo
						img(src="img/schools-item2.jpg")
					.schools-item__box
						p.schools-item-title Медицинское училище в Польше
						p.schools-direction-title Направления:
						ul.schools-directions
							li Техник-Фармацевт
							li Техник-Ветеринарии
							li Техник-Дантист
							li Гигиена стоматологическая
							li Ассистент Стоматолога
							li Техник-Электрорадиолог
							li Медицинский опекун
							li Диетология
						p.schools-price от 34 zł в мес
						.schools-item-actions
							a(href="" class="schools-link") Заявка на поступление
							a(href="" class="schools-link--second") Подробнее
