extends /addons/base.pug
block content
	+titlePage('Учеба в Польше')
	section.study__wrapper
		.container
			.study__box
				.study-content
					h2.study-title Высшее и среднее техническое образование в Польше.
					p.study-subtitle #[span Учеба в Польше:] Платное и бесплатное обучение. Условия и стоимость поступления. Каталоги учебных заведений. Проживание
					p.study-info Желаете получить качественное европейское образование? Выбирайте обучение в Польше! #[br]#[br]Открывайте для себя новые возможности и перспективы! #[br]#[br] Поступайте в техникумы после 9-10 класса и ВУЗы Польши после 11 класса. #[br]#[br] Мечтайте, развивайтесь, учитесь и живите в преуспевающем развитом государстве! #[br]#[br]#[span С Евростади Ваша мечта осуществится - Мы поможем Вам поступить в практически любой ВУЗ или техникум в Польше]
				include ../addons/aside-signup.pug
	section.study-info__wrapper
		.container
			.study-info-title Высшее образование в Польше. Как поступить в ВУЗ Польши
			.owl-carousel.owl-theme.study-carousel
				.study-card
					img(src="img/carousel/image1.jpg")
					.study-card-info
						p Условия поступления
						a Подробнее
				.study-card
					img(src="img/carousel/image2.jpg")
					.study-card-info
						p Стоимость поступления
						a Подробнее
				.study-card
					img(src="img/carousel/image3.jpg")
					.study-card-info
						p Каталог ВУЗов
						a Подробнее
			.study-info-title Среднее техническое образование в Польше. Как поступить в техникум Польши
			.owl-carousel.owl-theme.study-carousel--second
				.study-card
					img(src="img/carousel/image4.jpg")
					.study-card-info
						p Условия поступления
						a Подробнее
				.study-card
					img(src="img/carousel/image5.jpg")
					.study-card-info
						p Стоимость поступления
						a Подробнее
				.study-card
					img(src="img/carousel/image6.jpg")
					.study-card-info
						p Каталог техникумов
						a Подробнее
			.study-info-title Дополнительная информация
			.owl-carousel.owl-theme.study-carousel--three
				.study-card
					img(src="img/carousel/image7.jpg")
					.study-card-info
						p Бесплатное обучение
						a Подробнее
				.study-card
					img(src="img/carousel/image8.jpg")
					.study-card-info
						p Студенческая виза
						a Подробнее
				.study-card
					img(src="img/carousel/image9.jpg")
					.study-card-info
						p Общежития в Польше
						a Подробнее
				.study-card
					img(src="img/carousel/image10.jpg")
					.study-card-info
						p Присяжный перевод
						a Подробнее
				.study-card
					img(src="img/carousel/image11.jpg")
					.study-card-info
						p Стоимость питания
						a Подробнее
				.study-card
					img(src="img/carousel/image12.jpg")
					.study-card-info
						p Общественный транспорт
						a Подробнее
			.study-cards
				.study-card
					img(src="img/carousel/image7.jpg")
					.study-card-info
						p Бесплатное обучение
						a Подробнее
				.study-card
					img(src="img/carousel/image8.jpg")
					.study-card-info
						p Студенческая виза
						a Подробнее
				.study-card
					img(src="img/carousel/image9.jpg")
					.study-card-info
						p Общежития в Польше
						a Подробнее
				.study-card
					img(src="img/carousel/image10.jpg")
					.study-card-info
						p Присяжный перевод
						a Подробнее
				.study-card
					img(src="img/carousel/image11.jpg")
					.study-card-info
						p Стоимость питания
						a Подробнее
				.study-card
					img(src="img/carousel/image12.jpg")
					.study-card-info
						p Общественный транспорт
						a Подробнее
	section.study-contact__wrapper
		.container
			.study__box
				.study-content
					.contact-items.study-items
						.contact-item
							p.contact-region Киев
							.contact-info
								a(href='') +38 (097) 330 86 96
								a(href='') +38 (096) 096 16 00
								a(href='') +38 (063) 578 16 00
								a(href='') +38 (050) 416 16 00
								a(href='') +38 (044) 228 16 00
						.contact-item
							p.contact-region Днепр
							.contact-info
								a(href='') +38 (095) 658 11 00
								a(href='') +38 (097) 658 11 00
						.contact-item
							p.contact-region Львов
							.contact-info
								a(href='') +38 (097) 461 10 00
								a(href='') +38 (066) 041 10 00
								a(href='') +38 (093) 034 10 00
						.contact-item
							p.contact-region Ровно
							.contact-info
								a(href='') +38 (067) 473 59 49
								a(href='') +38 (063) 771 26 65
								a(href='') (0362) 48 95 75
						.contact-item
							p.contact-region Франковск
							.contact-info
								a(href='') +38 (067) 220 30 02
								a(href='') (0342) 76 62 02
						.contact-item
							p.contact-region E-mail
							.contact-info
								a(href='') study@eurostudy.info
				include ../addons/aside-contact.pug