extends /addons/base.pug
block content
	+titlePage('Как перевестись в польские ВУЗы')
	section.transfer-university__wrapper
		.container
			.transfer-university-box
				.transfer-university-content
					h2.transfer-university-title Как перевестись в польский ВУЗ? Какие нужны документы для перевода в ВУЗ Польши?
					ul
						li Недоволен Университетом, в котором учишься?
						li Процесс обучения и будущая перспектива вызывают у Тебя разочарование?
						li Предлагаем продолжить образование в #[b ВУЗах Польши] на выбор
					h3 На этом пути лишь 3 ШАГА:
					ul.transfer-university-items--first
						li #[b 1. Выбрать #[span ВУЗ в Польше]], подходящий по Вашей специальности (самостоятельно или с помощью консультанта нашей компании) и на нашем сайте.
						li #[b 2. Позвонить и записаться на консультацию:]#[br]#[br](044) 578-16-00, (050) 416-16-00#[br]#[br](096) 096-16-00, (063) 578-16-00
						li 3. Оплатить стоимость услуги перевода в Польский ВУЗ
					p После чего:
					ul.transfer-university-items--two
						li Если программы украинского ВУЗа и польского в значительной степени подобны - студент сдает академ.разницу и может обучаться в ВУЗе Польши без потери семестра или года.
						li Процесс перевода может осуществляться на протяжении учебного года.
				.about-aside
					include ../addons/aside-signup.pug
					include ../addons/aside-contact.pug
			h3 Студенты подают необходимые документы, согласно перечня:
			.transfer-university-info
				ul.transfer-university-items--three
					li #[b Выписка учебной программы студента в украинском ВУЗе;]
					li #[b Аттестат и приложение к аттестату] об окончании полного общего среднего образования (диплом, если есть);
					li #[b Медицинская справка формы 086-у] (стандартная справка, которая выдается в поликлинике и является необходимой для поступления в каждый вуз);
					li #[b 6 цветных фотографий] (3.5 х 4.5 см), как на шенгенcкую визу;
					li #[b Ксерокопии основных страниц украинского паспорта и первую страницу загранпаспорта;]
					li #[b Копии страниц военного билета](если есть).
				img(src="img/transfer-university1.jpg")
			.transfer-university-info
				a(href="") Отправить заявку
				a(href="") Задать вопрос