.aboutus__box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	img {
		margin-right: 30px;
		object-fit: cover;
	}
}
.aboutus__content-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 23px;
	color: $black;
}
.aboutus__content-info {
	font-size: 14px;
	line-height: 16px;
	color: $gray;
	span {
		font-weight: bold;
		color: $darkred;
	}
}
.clients__box {
	border-radius: 20px;
	border: solid 2px $darkred;
	padding: 40px 110px;
	margin-bottom: 40px;
	p {
		font-weight: normal;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		color: $gray;
		&:last-child {
			text-indent: 10px;
			margin-bottom: 0;
		}
	}
}
.clients__box-title {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 20px;
	color: $black;
}
.contact__wrapper {
	margin-bottom: 40px;
}
.contact-items {
	display: flex;
	flex-wrap: wrap;
}
.contact-item {
	margin-left: -1px;
	margin-top: -1px;
	border: solid 1px $lightgray;
}
.contact-region {
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: $black;
	padding: 17px 27px;
	border-bottom: solid 1px $lightgray;
}
.contact-info {
	display: flex;
	flex-direction: column;
	padding: 16px 26px;
	background: #F6F6F6;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	a {
		text-decoration: none;
		color: $darkred;
	}
}
.features__wrapper {
	padding: 40px 0px;
	background: #F6F6F6;
}
.features-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: $black;
	margin-bottom: 30px;
}
.features-items {
	display: flex;
	flex-wrap: wrap;
	.features-item {
		&:nth-child(3n) {
			margin-right: 0px;
		}
	}
}
.features-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 15px 11px 20px 11px;
	height: 179px;
	max-width: 218px;
	border-radius: 10px;
	background: #fff;
	margin-right: 30px;
	margin-bottom: 10px;
	img {
		margin-bottom: 20px;
	}
	p {
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		color: $gray;
	}
}
.subscribe__wrapper {
	padding: 40px 0px;
	a {
		background: $darkred;
		border-radius: 5px;
		padding: 16px 30px;
		font-weight: bold;
		text-decoration: none;
		margin: 0 auto;
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
	}
}
.subscribe__box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	iframe {
		width: 100%;
		max-width: 466px;
		max-height: 268px;
		margin: 0 auto 40px;
	}
}