.college{
	&__wrapper{
		padding: 40px 0px;
	}
	&__box{
		display: flex;
		justify-content: space-between;
	}
	&-content{
		max-width: 466px;
	}
	&-content h2{
		@include default-Title;
	}
	&-count{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30px;
		& select{
			width: 100%;
			max-width: 163px;
	    background: #fff;
	    padding: 9px 10px;
	    border: 1px solid #E5E5E5;
	    font-weight: normal;
	    font-size: 10px;
	    line-height: 12px;
	    text-align: center;
	    color: #353535;
	    -webkit-appearance: none;
	    background-position-x: 244px;
	    &:focus{
				outline: 0;
			}
		}
	}
}